[submodule "SnakeGame/external/glfw"]
	path = GLEngine/external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "SnakeGame/external/glm"]
	path = GLEngine/external/glm
	url = https://github.com/g-truc/glm.git
